*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
} 
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(82, 80, 80, 0.603),rgba(87, 82, 82, 0.534)),
    url(../image/room3.jpg)
    
}
.container_1{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),
    url(../image/gallery4.jpg);
    background-size: cover;
}

header{
    display: flex; 
    justify-content: space-between;
}
h1{
    color: #fafbfc;
    margin-top: 20px;
    padding-left: 20px;
    text-align: center;
}
.welcom_text{
    max-width: 700px;
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.welcom_text h2{
    color: #fff;
    font-size: 60px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
li,a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    
} 
nav{
    padding-top: 15px;
    margin-left: 25px;
}
.nav_link{
    list-style: none;
    margin-right: 200px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}
.nav_link li{
    display: inline-block;
    padding: 20px 10px;
}
.nov_link li a:hover{
    color: rgb(31, 90, 252);
}
/*reservation*/
.container {
    border-style: solid;
    max-width: 400px;
    margin-top: 10px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f7eab0;
    border-radius: 5px;
    box-shadow: #351616;
    color: #070707;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    font-weight: bold;
    color: #181717;
  }
  
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #070707;
    border-radius: 5px;
}
  
input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #150070;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #0056b3;
}
.select-style {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  /* dropdown arrow style */
.select-style::-ms-expand {
    display: none;
  }
  @media screen and (max-width: 1100px) {

    header{
        display: block;  
    }
    nav{
        margin-left: 0;
    }
    .nav_link li{
        display: block;
        text-align: center;
        padding: 5px 5px;
    
    }
    .head h1{
        margin-top: 0;
        padding-left: 0;
    }
    .welcom_text{
        height: 100px;
    }
    .welcom_text h2 {
        font-size: 30px;
        padding-left: 0;
    }
    .form{
        margin-right:10px; 
        margin-left: 10px;
    }
    .container {
      width: 90%; 
    }
  }
  footer{
    margin-top: 10px;
    text-align: center;
  }